<h1>Welcome</h1>

<li>It's <%= Time.now %></li>
<li>We have <%= pluralize(@total_orders, "order") %>.</li>
<li>You can change <%= link_to "contact", contact_path(1)%> here.</li>
<li>You can check, add and modify <%= link_to "category", categories_path%> here
